<%= form_for @article, :html => { :class => 'form-horizontal' } do |article| %>
  <div class="control-group">
    <%= article.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= article.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= article.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= article.text_field :content, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <select name="post[author_id]">
        <% Category.all.each do |cat| %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
        <% end %>
      </select>
    </div>
  </div>


  <div class="form-actions">
    <%= article.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>
